body {
    box-sizing: border-box;
    padding: 20px;
    overflow: hidden;
    background: rgb(61,176,255);
background: radial-gradient(circle, rgba(61,176,255,0.5353535353535354) 0%, rgba(115,0,255,0.5303030303030303) 100%);
}
h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}
button {
    text-align: center;
    border-radius: 5px; 
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: -5px;
    flex-flow: column wrap;
}
.level, #level {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}
p.instructions {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: large;
}
.tile-container {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.tile {
    width: 50%;
    height: 50%;
}
.tile:hover {
    opacity: 80%;
}

.aqua {
    background-color: #00FFFF;
}
.pink {
    background-color: #FE2EF7;
}
.green {
    background-color: #00FF00;
}
.purple {
    background-color: #8600ff;
}

.inactive {
    opacity: 35%;
}
.hidden {
    display: none;
}
.unclickable {
    pointer-events: none;
}
