.breakfast {
    background-color: orange;
}

.ymca {
    background-color: orangered;
}

.tiptop {
    background-color: lightgreen;
}

.breeze {
    background-color: turquoise;
}

.nana {
    background-color: mediumslateblue;
}

.class {
    background-color: mediumpurple;
}
